@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Currencies", "Index", "/Currency", null, null)
@Html.ActionLink("Items", "Index", "/Item", null, null)
@Html.ActionLink("Item Types", "Index", "/ItemType", null, null)
@Html.ActionLink("Prices", "Index", "/Price", null, null)
@Html.ActionLink("User Profiles", "Index", "/UserProfile", null, null)
