@model PriceDataLib.Price

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Price</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Value)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Value)
            @Html.ValidationMessageFor(model => model.Value)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ItemId, "Item")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ItemId", String.Empty)
            @Html.ValidationMessageFor(model => model.ItemId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CurrencyId, "Currency")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CurrencyId", String.Empty)
            @Html.ValidationMessageFor(model => model.CurrencyId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UploadByUserId, "UserProfile")
        </div>
        <div class="editor-field">
            @Html.DropDownList("UploadByUserId", String.Empty)
            @Html.ValidationMessageFor(model => model.UploadByUserId)
        </div>

        @*<div class="editor-label">
            @Html.LabelFor(model => model.UploadDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UploadDate)
            @Html.ValidationMessageFor(model => model.UploadDate)
        </div>*@

        <div class="editor-label">
            @Html.LabelFor(model => model.EffStartDate)
        </div>
        <div class="editor-field">
            @Html.Editor("EffStartDate")
            @*@Html.EditorFor(model => model.EffStartDate)*@            
            @Html.ValidationMessageFor(model => model.EffStartDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EffEndDate)
        </div>
        <div class="editor-field">
            @Html.Editor("EffEndDate")
            @*@Html.EditorFor(model => model.EffEndDate)*@
            @Html.ValidationMessageFor(model => model.EffEndDate)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
